.git
.gitignore
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
.idea
*.iml
*.ipr
*.iws
.project
.classpath
.settings
.vscode
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp
*.orig
*~
.env
.env.local
docker/
docker-compose*
README.md
docs/
notes/
*.md